<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%load static%}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{%static 'home.css' %}"/>
    <link rel="stylesheet" href="{%static 'profile.css' %}"/>

</head>
<body>
<div class="topnav">
    <a href="/" class="logo_div"><img src="{%static 'images/logo.png' %}" alt="Logo" class="logo"/></a>
    <a href="/" id="back">&lt; Home</a>
    <a href="/profile" class="split"><img src="{%static 'images/profile.png' %}" alt="profile" class="profile"/></a>
</div>
<div class="sidebar">
    <a href="/"><i class="glyphicon glyphicon-home"></i> Home</a>
    <a href="#"><i class="glyphicon glyphicon-file"></i> New Requests</a>
    <a href="/group"><i class="glyphicon glyphicon-user"></i> Group Info.</a>
    <a href="/myrequests"><i class="glyphicon glyphicon-time"></i> My Requests</a>
    <a href="/pending" class="manager" id="manager">
        <i class="glyphicon glyphicon-th-list"></i>Pending Requests
        <span class="badge badge-primary badge-pill" id="mydiv"></span>
    </a>
    <a href="/signout"><i class="glyphicon glyphicon-off"></i> Logout</a>
</div>

<div class="content">
    <div id="content">
        <div id="request-form">
            <div id="aaa">
                <h5><i class="glyphicon glyphicon-user"> </i>{{userdetail.DISP_NAME}}</h5>
            </div>
            <form id="rform">
                <div>
                    <label>First name</label>
                    <div class="div_group">
                        <i class="glyphicon glyphicon-user"></i><input type="text" readonly id="firstname"
                                                                       name="firstname" class="not-allowed"
                                                                       placeholder="First name"
                                                                       value="{{userdetail.FIRST_NAME}}">
                    </div>
                </div>

                <div>
                    <label>Middle name</label>
                    <div class="div_group">
                        <i class="glyphicon glyphicon-user"></i><input type="text" readonly id="middlename"
                                                                       name="middlename" class="not-allowed"
                                                                       placeholder="Middle name">
                    </div>
                </div>

                <div>
                    <label>Last name</label>
                    <div class="div_group">
                        <i class="glyphicon glyphicon-user"></i><input type="text" readonly id="lastname"
                                                                       name="lastname" class="not-allowed"
                                                                       placeholder="Last name"
                                                                       value="{{userdetail.LAST_NAME}}">
                    </div>
                </div>

                <div>
                    <label>Email</label>
                    <div class="div_group">
                        <i class="glyphicon glyphicon-envelope"></i><input type="email" readonly id="email" name="email"
                                                                           class="not-allowed"
                                                                           placeholder="Email"
                                                                           value="{{userdetail.EMAIL}}">
                    </div>
                </div>

                <div>
                    <label>Phone Number</label>
                    <div class="div_group">
                        <i class="glyphicon glyphicon-phone-alt"></i><input type="text" readonly id="phone" name="phone"
                                                                            class="not-allowed"
                                                                            placeholder="Phone Number">
                    </div>
                </div>
                <div>
                    <label>Position</label>
                    <div class="div_group">
                        <i class="glyphicon glyphicon-briefcase"></i><input type="text" readonly id="position"
                                                                            name="position" class="not-allowed"
                                                                            placeholder="Position">
                    </div>
                </div>
                <div>
                    <label>Team</label>
                    <div class="div_group">
                        <i class="glyphicon glyphicon-link"></i><input type="text" readonly id="team" name="team"
                                                                       class="not-allowed"
                                                                       placeholder="Current Team"
                                                                       value="{{userdetail.GROUPID}}">
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>
</body>
<script src="{%static 'js/manager.js' %}"></script>
<script>ismanager({{userdetail.ADMIN}});</script>
</html>